---
title: SFS Scenarios
keywords: mydoc
sidebar: sfs_sidebar
toc: false
permalink: sfs_landing_page.html
folder: sfs
---

<table>
{% for entry in site.data.scenarios.entries and entry.thissite != "none" %}
   {% if entry.campaign == "SFS" %}
     <tr>
       <td> <a href="{{entry.thissite}}"> {{entry.number}} {{entry.name}}</a> </td>
       <td> <a href="{{entry.productpage}}"> Product Page</a> </td>
       <td> <a href="{{entry.gmdiscussion}}"> GM Discussion</a> </td>
       <td> <a href="{{entry.pfsprep}}"> PFS Prep</a> </td>
       <td> <a href="{{entry.wiki}}"> Wiki</a> </td>
     </tr>
   {% endif %}
{% endfor %}
</table>
